<div class="container">
  <div class="tools-title">
    <h1> Your Amazing tool</h1>
  </div>
  <div class= "cards">
    
<div class="card-product index-tools">
<% @tools.each do |tool| %>
  <p>

    <div>
    <strong class="creatria"> Name: </strong> 
    <%= tool.name %> 
  </p>

<div class="price">
  <p>
    <strong class="creatria"> Price: </strong> 
    <%= tool.price %> 
  </p>
</div>

<div class="quantity">
  <p>
    <strong class="creatria"> Quantity: </strong> 
    <%= tool.quantity %> 
  </p>
</div>

<div class="brand">
  <p>
    <strong class="creatria"> Brand: </strong> 
    <%= tool.brand %> 
  </p>
</div>
<div class="description">
  <p>
    <strong class="creatria"> Description: </strong> 
    <%= tool.description %> 
  </p>
</div>

<div class="available">
  <p>
    <strong class="creatria"> Availability: </strong> 
    <%= tool.availability %> 
  </p>  
</div>
</div>
<div>
  <%= image_tag  "tool.jpg" %>
</div>
  
<% end %>
  </div>
</div>
</div>


