<div class="container">
  <div class="tools-title">
    <h1> Tools List</h1>
  </div>
  
<% @tools.each do |tool| %>
  <p>
    <strong> Name: </strong> 
    <%= tool.name %> 
  </p>

  <p>
    <strong> Price: </strong> 
    <%= tool.price %> 
  </p>

  <p>
    <strong> Quantity: </strong> 
    <%= tool.quantity %> 
  </p>

  <p>
    <strong> brand: </strong> 
    <%= tool.brand %> 
  </p>

  <p>
    <strong> description: </strong> 
    <%= tool.description %> 
  </p>

  <p>
    <strong> availability: </strong> 
    <%= tool.availability %> 
  </p>
  
<% end %>
  

</div>
<body style="background-color:powderblue;">

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>