<div class="container">
  <div class="tools-title">
      <h1> <%= image_tag "tools-icon-1.png", height: "50", width: "50" %> The Renting Tools!</h1> 
  </div>
  <div class="cards">

    <% @tools.each do |tool| %>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <%= image_tag "echelle_1.jpeg", class:"image-product" %>
          </div>
          <div class="flip-card-back">
            <h2><%= tool.name %> </h2>
            <p class= "text-blue"><%= image_tag "tools-icon-1.png", height: "30", width: "30" %> <strong>TOOLS:</strong> <%= tool.description %></p>
            <p class= "text-blue"><%= image_tag "brand.png", height: "30", width: "30" %> <strong>BRAND:</strong> <%= tool.brand %></p>
            <p class= "text-blue"><%= image_tag "best-price.png", height: "30", width: "30" %> <strong>PRICE in Rs:</strong> <%= tool.price %></p>
            <%= link_to "SEE MORE", tool_path(tool), class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>