<div class="cards">
  
</div>
<h1> hello </h1>

 <p>
    <strong> Name: </strong> 
    <%= @tool.name %> 
  </p>

  <p>
    <strong> Price: </strong> 
    <%= @tool.price %> 
  </p>

  <p>
    <strong> Quantity: </strong> 
    <%= @tool.quantity %> 
  </p>

  <p>
    <strong> brand: </strong> 
    <%= @tool.brand %> 
  </p>

  <p>
    <strong> description: </strong> 
    <%= @tool.description %> 
  </p>

  <p>
    <strong> availability: </strong> 
    <%= @tool.availability %> 
  </p>
