<div class="container navbar"> 
  <nav class="bg-primaryX text-lightX navbar navbar-expand-xl navbar-dark  navbar-togglable  fixed-top">
            <%= link_to "#", class: "navbar-brand" do %>
              <%= image_tag "" %>
              <% end %>
              <div class="container">

                  <a class="navbar-brand" href="index.html">
                      <%= link_to "MrTournevis", root_path, class: "navbar-brand" %>
                  </a>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarCollapse">

                      
                      <ul class="navbar-nav ml-auto">
                        <% if user_signed_in? %>
                            <li class="nav-item active mx-4">
                              <%= link_to "Tools", tools_path, class: "nav-link" %>
                            </li>
                          
                            <li class="nav-item dropdown">
                              <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                            </li> 
                            <li class="nav-item ">
                                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                            </li>               
                          <% else %>
                            <li class="nav-item ">
                              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                            </li>
                          <% end %>
                      </ul>
                  </div>
              </div> 
  </nav>
</div>
