
<div class="container-group" >
    
    <div id="text"  class="centered image" >
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">Welcome to Mr Tournevis</h1>
            <p class="lead">Rent the right equipment for a better worksite</p>
        </div>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner rounded">
            <div class="carousel-item active">
            <%= image_tag "adult.jpg", width: 1050, height: 600, alt: "centered image", class: "img-responsive center-block"%>
            <div class="carousel-caption d-none d-md-block">
                <h5>Equipment you can rent</h5>
                <p></p>
            </div>
            </div>
            <div class="carousel-item">
            <%= image_tag "plumbing.jpg", width: 1050, height: 600, alt: "centered image", class: "img-responsive center-block"%>
            <div class="carousel-caption d-none d-md-block">
                <h5>People you can trust.</h5>
                <p></p>
            </div>
            </div>
            <div class="carousel-item">
            <<%= image_tag "tools2.jpg", width: 1050, height: 600, alt: "centered image",class: "img-responsive center-block"%>
            <div class="carousel-caption d-none d-md-block">
                <h5>Quality equipment, ready rent</h5>
                <p></p>
            </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
</div>

  
<div class="container mt-4" >
    <%= link_to "Offer a tool", new_tool_path, class:"btn btn-primary"%>
    <%= link_to "Search a tool", tools_path,class:"btn btn-primary" %>
</div>

<div class="container mt-4" >
    <div class="card-group">
        <div class="card m-3" style="width: 5rem;">
         <%= image_tag "driller_1 copy", class:"card-img-top ", width: 2000, height: 100, alt:""%>
        <div class="card-body">
            <p class="card-text">Driller</p>
        </div>
        </div>
        <div class="card m-3" style="width: 5rem;">
        <%= image_tag "hammer_1", class:"card-img-top ", width: 2000, height: 100, alt:""%>
        <div class="card-body">
            <p class="card-text">Hammer</p>
        </div>
        </div>
        <div class="card m-3" style="width: 5rem;">
        <%= image_tag "tournevis_3 copy", class:"card-img-top ", width: 2000, height: 100, alt:""%>
        <div class="card-body">
            <p class="card-text">Screwdriver</p>
        </div>
    </div>
    </div>
</div>
