
<div class="container-fluid" style="height:70vh;">

    <div>
        <%= image_tag "workshop.jpg", class: "bg-cover", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), ; position: absolute; top: 0; bottom: 0; left: 0;right: 0; width: 100%; background-repeat: no-repeat;background-position: 50%;background-size: cover;" %>
    </div>
    <div class="col-sm-5">
        <div class="card-banner">
            <div class="card-body">
                <h5 class="card-title">Welcome to Mr Tournevis</h5>
                <h2 class="h3">Rent the right equipment for a better worksite</h2>
                
                <%= link_to "Offer a tool", new_tool_path, class:"btn btn-danger btn-block"%>
                <%= link_to "Search a tool", tools_path,class:"btn btn-primary btn-block" %>
            </div>
        </div>
     </div>
</div>

<div class="cards-home">
    <div class="card-deck mt-5">
        <div class="card">
            <%= image_tag "workshop03.jpg", class: "card-img-top" %> 
            <div class="card-body">
                <h5 class="card-title">Equipment you can rent</h5>
                <p class="card-text">TOOL RENTAL is finally here! Mr Tournevis allows tool owners to earn cash on their equipment while helping tool renters save a ton of money.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    
        <div class="card">
            <%= image_tag "workshop04.jpg", class: "card-img-top" %> 
            <div class="card-body">
                <h5 class="card-title">People you can trust</h5>
                <p class="card-text">Need a specialty tool for your next project? Visit our Mr Tournevis online stores to loan one of our 80 specialty tools.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 2 hours ago</small>
            </div>
        </div>
        <div class="card">
            <%= image_tag "workshop05.jpg", class: "card-img-top" %> 
            <div class="card-body">
                <h5 class="card-title">Quality equipment, ready rent</h5>
                <p class="card-text">Mr Tournevis has a huge catalog of rental equipment and tools ... Rent equipment online to access exclusive web rates on all your rentals.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 19 hours ago</small>
            </div>
        </div>
    </div>
</div>

<div class="card my-4 p-2 small border-0">
    <div class="row no-gutters">
        <div class="col-md-7 d-flex align-items-center">
            <p class="my-0 px-3">Earn up to <strong>Rs6000/month</strong> Become a member like Priyanka, Gael and Kaveesh.</p>
        </div>
        <div class="col-md-5 border-left border-secondary">
            <div class="card-body">
                <%= link_to "lend your tools", new_tool_path, class:"card-text"%>
            </div>
        </div>
    </div>
</div>
 